data filter=lfs diff=lfs merge=lfs -text
data/counts.bin filter=lfs diff=lfs merge=lfs -text
data/points.bin filter=lfs diff=lfs merge=lfs -text
data/ray_origins.bin filter=lfs diff=lfs merge=lfs -text
